* {box-sizing: border-box;
}

/* BASE STYLES */

body {
font-family: 'Roboto Condensed', sans-serif;



}
header {
  
}

.main-nav li {
    list-style: none;
    padding: 0.5em;
    
}
.main-nav li a {
    text-decoration: none;
    
}
.main-nav li {
    text-decoration: none;
}

    


/* CONTAINERS */
.portfolio {
display: block;
}
    

/* NAVIGATION */


/* Media Queries */

@media (min-width: 769px) {
    body {

    }
}

@media (min-width: 1024px) {
.container {
    padding: 0 20px;
}

    .name, .main-nav {
        display: inline-flex;
    }
        .picture {
            display: inline-block;
            float: right;
        }
}