* {

}

/* BASE STYLES */

body {

}
.main-nav a {
    text-decoration: none;
}

.main-nav li {
    list-style: none;
    padding: 0.5em;
    

}
/* CONTAINERS */

    
}
/* NAVIGATION */


/* Media Queries */

@media (min-width: 769px) {
    body {

    }
}

@media (min-width: 1024px) {
.container {
    padding: 0 20px;
}

    .name, .main-nav {
        display: inline-flex;
        justify-content: space-between;
        
    }
        .picture {
            display: inline-block;
            float: right;
        }
}